[submodule "bancho"]
	path = bancho
	url = https://github.com/osuTitanic/anchor.git
	branch = main
[submodule "web/deck"]
	path = web/deck
	url = https://github.com/osuTitanic/deck.git
	branch = main
[submodule "bot"]
	path = bot
	url = https://github.com/osuTitanic/banchobot
[submodule "web/stern"]
	path = web/stern
	url = https://github.com/osuTitanic/stern.git
[submodule "jobs"]
	path = jobs
	url = https://github.com/osuTitanic/jobs.git
[submodule "web/osz2-service"]
	path = web/osz2-service
	url = https://github.com/osuTitanic/osz2-service.git
[submodule "web/keel"]
	path = web/keel
	url = https://github.com/osuTitanic/keel.git
