[submodule "services/bancho"]
	path = services/bancho
	url = https://github.com/osuTitanic/anchor.git
	branch = main
[submodule "services/deck"]
	path = services/deck
	url = https://github.com/osuTitanic/deck.git
	branch = main
[submodule "services/bot"]
	path = services/bot
	url = https://github.com/osuTitanic/banchobot
[submodule "services/keel"]
	path = services/keel
	url = https://github.com/osuTitanic/keel.git
