.category {
    text-shadow: #f3c8e0 0px 0px 10px;
    color: #e15fac;
    font-weight: normal;
    font-size: 140%;
    padding: 5px 5px 0 5px;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    transition: 0.4s all;
}

.category:visited {
    color: #e15fac;
}

.category:hover {
    color: #aa156e;
    text-shadow: #f3c8e0 0px 0px 10px;
    transition: 0.4s all;
}

.category-wrapper .selected {
    color: #a5126a !important;
    font-weight: bold;
}

.category-wrapper {
    display: block;
    text-align: center;
    margin-top: 18px;
}

.client-container {
    background-color: #ffdef5;
    padding: 5px;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: 0.4s all;
    text-align: center;
}

.client-container b {
    margin-left: 10px;
}

.client {
    display: inline-block;
    border-radius: 5px;
    border-width: 2px;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
    vertical-align: middle;
    background-color: #ffd6f3;
    filter: drop-shadow(1px 2px 1px #c6c6ca);
    min-width: 300px;
    text-align: left;
}

.ie5 .client img,
.ie6 .client img {
    height: 200px;
}

.client p {
    white-space: pre-wrap;
}

.description {
    max-width: 350px;
    margin-top: 5px;
}

.client img {
    margin-top: 8px;
    border-radius: 2px;
    max-height: 200px;
    min-height: 200px;
    min-width: 250px;
    color: grey;
}

.client .download-link {
    display: block;
    margin-top: 10px;
    padding: 10px;
    color: #ff5d93;
    background-color: #e9cedf;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    transition: all 0.1s ease;
}

.client .download-link:hover {
    color: #ebebeb;
    background-color: #ff5d93;
    transition: all 0.1s ease;
}

.known-bugs {
    float: right;
    cursor: pointer;
    text-decoration: none;
    font-size: 115%;
    position: relative;
    z-index: 1;
}

.version {
    font-weight: bold;
    font-size: large;
    filter: drop-shadow(2px 2px 1px #d6d6d6);
}

.bottom-text {
    margin-top: 20px;
    margin-left: 10px;
}

.bottom-text a {
    text-decoration: none;
}

.bottom-text a:hover {
    text-decoration: underline;
}
